<h1><%= @student.name %></h1>
<h2>Class of <%= @student.year %> | <%= @student.major %> Major</h2>
<h3>Course List: </h3>
<ul>
    <% @student.courses.each do |course| %>
        <li> <%= link_to course.name, course %> | <%= link_to course.professor.name, course.professor %></li>
    <% end %>
</ul>

<%= render partial: "shared/edit_delete_buttons", locals: {object: @student} %>