<h1><%= @course.name %></h1>
<p><%= link_to @course.professor.name, @course.professor %> | <%= @course.time %></p>
<p><%= @course.description %></p>

<%= render partial: "shared/edit_delete_buttons", locals: {object: @course} %>